body{
    background-color:rgb(100,100,100);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    font-weight: unset;   
    margin: 0;
    
}
#current{
    border-bottom: solid 2.5px rgb(70, 134, 126)

}
#nav-bar{
    position: fixed;
    top: 0;
    text-align: center;
    background-color: rgb(248, 138, 98);
    width:70vw ;
    margin-left: 30vw;
    color:white;
    border-left: solid rgb(70, 134, 126) 6px;
}
#nav{
    padding: 0px;
    margin: 10px;
    
    
}
.nav-link{
    
    display: inline;
    padding: 20px;
}
.nav-link:hover{
    color:rgb(70, 134, 126);
}
a{text-decoration: unset;color: white}
#now{color: rgb(70, 134, 126)}
.flex-box{
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-div{
    margin-top:150px;
    justify-self: center;
    align-self: center;
    width: auto;
    padding: 100px 3px ;
    background-color:white;
    border-radius: 10px;    
    border: solid 2px rgb(100,100,100);
}
#newsletter{
    text-decoration: underline;
    display: block;
    padding-bottom:3rem;
    font-size: 1.3rem;
    color:rgb(100,100,100);
}
#email{
    height: 25px;
    border: solid 1px rgb(100,100,100);
}
#submit{
    
    padding-bottom: 6px;
    padding-top: 6px;
    color:white;
    background-color: rgb(28, 63, 54);
    border:unset;
}
a:hover{
    color:rgb(70, 134, 126);
}
@media (max-width : 600px){
    #title,#span{
        font-size: 4rem;
        text-align: center;
        float: none;
        margin:auto;
    }
    #current{
        border-bottom: solid 2px rgb(70, 134, 126)
    
    }
    #header{
    
        background-image: linear-gradient(45deg,rgba(245,0,0, 0.2),rgba(231,121,185,0.7)rgba(245,0,0,0.2));
    }
    .nav-link{
        display: block;
        
    }
    #nav-bar{
        padding: 0;
        width: 10vw;
        height: 18vh;
        position: fixed;
        top:0;
        right: 0;
        display :flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-left: unset;
        border-bottom: solid rgb(70, 134, 126) 5px;

    }
    .nav-link{
        padding: 3.5px;
        font-size: 11px;
        
        
    }
    #nav{
        padding: 0px;
        margin: 0;
    }
    .contact-div{
        width: auto;
        padding: 50px 3px;
    }
    #submit{
        display: block;
        margin-left: auto;
        margin-top: 3px;
    }}